* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.navbar {
    background-color:#ffffff;
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 200;
    height: 80px;
    border-bottom: #ced6e7 solid 1px;
     position: fixed;
     z-index: 1;
}

.logo {
    margin-left: 100px;
}
#siteLogo {
    padding-left: 135px;
}

.points {
    display: flex;
    gap: 40px;
    margin-left: 620px;
}

.points h5 {
    margin-top: 4px;
}


.points i {
    margin-top: 3px;
}


#forCV {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #111827;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.skills {
    /* background-color: lightblue; */
    height: Fill(465px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:910px){
    .skills{
        height: 1000px;
        margin-top: -100px;
    }
}


.con {
    /* background-color: lightcoral; */
    height: 450px;
    width: 75%;
}

.row4 {
    /* background-color: lightgreen; */
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-top: 30px;

}

.border1 {
    background-color: #E5E7EB;
    padding: 4px 20px 4px 20px;
    border-radius: 15px;
    height: 10px;
    padding-bottom: 10px;
}

.row2 {
    /* background-color: lightgreen; */
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.con2 {
    /* background-color: lightgreen; */
    height: 100px;
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.line {
    /* background-color: lightseagreen; */
    height: 300px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
@media only screen and (max-width:610px){
    .line{
        flex-wrap: wrap;
    }
}


.logo {
    /* background-color: lightblue; */
    height: 100px;
    width: 90px;
    display: flex;
    margin-left: -10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Work {
    background-color: #FFFFFF;
    width: Fill (1, 440px);
    height: Hug (1, 848px);
    padding: 96px 80px 96px 80px;
}

.con4 {
    /* background-color: lightsteelblue; */
    width: 1360px;
    height: 1856px;
    padding: 0px 32px 0px 32px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.row5 {
    /* background-color: lightgreen; */
    height: 80px;
    width: 1360px;
}

.lineoftext1 {
    /* background-color: lightseagreen; */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineoftext1 p {
    background-color: #E5E7EB;
    ;
    padding: 3px 15px 3px 15px;
    border-radius: 12px;
}

.lineoftext2 {
    /* background-color: lightseagreen; */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workbox {
    background-color: #FFFFFF;
    width: Hug (75px);
    height: Hug (28px);
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    color: #4B5563;
}

.workcolumn {
    /* background-color: lightgreen; */
    width: Fill (576px);
    height: Fill (480px);
    padding: 48px;
    border-radius: 12px 0 0 12px;
}

.workcolumn2 {
    /* background-color: lightgreen; */
    width: Fill (576px);
    height: Fill (480px);
    padding: 48px;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: column;

}

.textcontent1 {
    margin-top: 20px;
    font-weight: bold;
    color: #111827;
}

.textline {
    /* background-color: red; */
    margin-top: 40px;
    width: 480px;
    height: 96px;

}

.tags {
    background-color: red;
    width: 480px;
    height: auto;
    gap: 8px;
    display: flex;
}
.tag {
    background-color: lightgreen;
    padding-left: 5px;
    padding-right: 5px;
}

#picColor {
    border-right: 1px solid #F3F4F6;
    background-color: #F3F4F6;
    
}

.workbox:nth-child(3) {
    .workcolumn2{
        margin-left: 20px;
    }
}

