.main-container {
    margin: 0 150px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;

    #intro-image {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1000px){
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;

        #intro {
            grid-row: 2;
        }

        #intro-image {
            grid-row: 1;
            grid-column: 1;
        }
    }
    .main-container {
        margin: 0;

    }

    #intro-image {
        order: 1;
    }
    .column {
        order: 2;
    }
}