* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

#main {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    height: 80px;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    width: 100vw;
    align-items: center;
    font-weight: 200;
    height: 80px;
    border-bottom: #ced6e7 solid 1px;
    position: fixed;
    z-index: 1;
    grid: auto;
}

.hideLogo {
    display: none;
}

.logo {
    margin-left: 100px;
}

#siteLogo {
    padding-left: 135px;
}

.points {
    display: flex;
    gap: 3vw;
    margin-left: 38vw;
}

@media only screen and (max-width: 1000px) {
    .points {
        flex-wrap: wrap;
        display: none;
    }

    .hideLogo {
        display: inline-block;
        margin-left: 55vw;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    #siteLogo {
        padding-left: 10px;
    }


}

.points h5 {
    margin-top: 4px;
}


.points i {
    margin-top: 3px;
}


#forCV {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #111827;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.logo {
    height: 80px;
    width: 90px;
    display: flex;
    margin-left: -10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .skills {
    height: Fill(465px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:1010px){
    .skills{
        height: 100vh;
        margin-top: -100px;
    }
}


.con {
    background-color: lightcoral;
    height: 450px;
    width: 75%;
}

.row4 {
    background-color: lightgreen;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-top: 30px;

}

.border1 {
    background-color: #E5E7EB;
    padding: 4px 20px 4px 20px;
    border-radius: 15px;
    height: 10px;
    padding-bottom: 10px;
}

.row2 {
    background-color: lightgreen;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.con2 {
    background-color: lightgreen;
    height: 100px;
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.line {
    background-color: lightseagreen;
    height: 300px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
@media only screen and (max-width:610px){
    .line{
        flex-wrap: wrap;
    }
} */




