* {
    padding: 0px;
    margin: 0px;
    font-family: "Rubik", sans-serif;
}

.container {
    width: 80%;
    height: 552px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 152px;
    /* margin-top: 80px; */

}


.column {
    width: 800px;
    height: 360px;
    margin-left: 20px;

    /* background-color:blueviolet; */
}

.column h1 {
    color: rgb(118, 115, 115)/600;
}

/* .imgbg {
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
} */

.location {
    margin-top: 15px;
    color: rgba(75, 85, 99, 1);
}

.hire {
    color: rgba(75, 85, 99, 1);
    margin-top: 15px;
}


.icon {
    margin-top: 100px;
    color: rgb(118, 115, 115)/600;

}

.introduction {
    width: 700px;
    height: 150px;
    margin-top: 15px;
    /* background-color: aquamarine; */
}

.column h1 {
    font-weight: 700;
    color: rgba(17, 24, 39, 1);
}

.column span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.column1 {
    border: 8px;
    margin-top: 10px;
    margin-left: 170px;

}

.about {
    width: 1520px;
    height: 962px;
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    width: 1280px;
    height: 770px;
    /* background-color:  rgba(75, 85, 99, 1); */

}

.row {
    width: 1216px;
    height: 28px;
    color: #ffffff;
    /* background-color: blanchedalmond; */
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row span {
    background-color: rgba(75, 85, 99, 1);
    border-radius: 12px;
    padding: 4px;
}

.row1 {
    width: 1216px;
    height: 694px;
    /* background-color: blanchedalmond; */
    margin-left: 30px;
    margin-top: 45px;
    display: flex;
}

.box {
    width: 584px;
    height: 694px;
    /* background-color: rgb(221, 189, 148); */
}

.box1 {
    width: 584px;
    height: 694px;
    /* background-color: rgb(221, 189, 148); */
    margin-left: 47px;
}

.content {
    width: 584px;
    height: 634px;
    /* background-color: rgb(141, 171, 161); */
    margin-top: 23px;
}

.checklist {
    width: 584px;
    height: 58px;
    display: flex;
}

.text {
    width: 287px;
    height: 58px;
}

.text1 {
    width: 287px;
    height: 58px;
    margin-left: 10px;
}

.mainimg {
    margin-left: 40px;
    height: 480px;
    position: relative;
    border: rgba(249, 250, 251, 1) solid 7px;
}

.poss1 {
    /* background-color: red; */
    height: 550px;
    width: 520px;
    display: flex;
}

.imagebg {
    /* background-color: blue; */
    height: 518px;
    width: 500px;
    margin-top: 32px;
    display: flex;

}

.shadow1 {
    background-color: rgb(215, 218, 220);
    position: absolute;
    height: 490px;
    width: 400px;
    margin-top: 40px;
}
.poss {
    margin-left: 100px;
    margin-bottom: 340px;
}
.imgbg {
   
    height: 360px;
    width: 340px;
    position: absolute;
}

.imglink {
    height: 320px;
    width: 300px;
    border: #ffffff solid 5px;
    border-top: none;
    border-left: none;
    object-fit: cover;
    position: relative;
}

.shadow {
    background-color: rgb(183, 174, 174);
    height: 320px;
    width: 300px;
    position: absolute;
    margin-top: 32px;
    margin-left: 32px;
}