.page3 {
    display: flex;
}
.container2 {
    padding: 30px;
}
.box2 {
    height: 72px;
    margin: auto;
}

.experiance {
    height: 35px;
    display: flex; 
    color: rgba(75, 85, 99, 1);
}

.experiance span {
    background-color: rgba(229, 231, 235, 1);
    border-radius: 15px;
    padding: 4px;
    margin: auto;
    font-weight: 500;
}
.info {
    height: 35px;
    display: flex;
}

.info span {
    color: rgba(75, 85, 99, 1);
    margin: auto;
    font-weight: 700;
}


.column-ex {
    background-color: rgb(250, 245, 250);
    margin-bottom: 40px;
    padding: 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .item {
        padding: 20px 0px;

    }
    .item img {
        margin-left: 30px;
    }
    .date span {
        font-size: 18px;
        font-weight: 600;
        margin-left: 30px;
    }

}
@media (max-width:1000px) {
    .column-ex {
        display: grid;
        grid-template-columns: 1fr;
    }
}